<nav class="navbar  navbar-expand-lg ">
  <div class="container gap-4">
    <!-- Logo -->
    <a class="navbar-brand w-20" href="#" style="color: hsl(28, 100%, 58%);font-weight: bold;" >
      <img src="cutlery.png" style="width: 50px;" alt="">
    </a>

  <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu Items -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" style="color: #fbaf32;">{{'Home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">{{'Menu' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">{{'Cart' | translate }}</a>
      </li>
      <li>

      <select (click)="changeLang($event)" class="form-select" aria-label="Default select example">
        <option selected>Select Language</option>
        <option value="en">English</option>
        <option value="ar">Arabic</option>
      </select>
      </li>

    </ul>
  </div>
  </div>
  </div>
</nav>
