<div class="container">
  <h2 class="text-center mb-4">Create Product</h2>
  <form [formGroup]="CreateForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter product name" />
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" formControlName="description"
        placeholder="Enter product description"></textarea>
    </div>

    <!-- Category -->
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select id="category" class="form-select" formControlName="categoryId">
        <option value="" disabled>Select a category</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input readonly type="number" id="price" class="form-control" formControlName="price"
        placeholder="Enter product price" />
    </div>

    <!-- Profit -->
    <div class="mb-3">
      <label for="profit" class="form-label">Profit</label>
      <input type="number" id="profit" class="form-control" (keyup)="updatePrice()" formControlName="profit"
        placeholder="Enter product profit" />
    </div>

    <!-- Image -->
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" id="image" class="form-control" (change)="onImageChange($event)" formControlName="image" />
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" id="release" class="form-check-input" formControlName="release" />
      <label class="form-check-label" for="release">Release</label>
    </div>
    <!-- Ingredients -->
    <div class="mb-3">
      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <button type="button" class="btn btn-primary" (click)="addSkillButtonClick()">
            Add Ingredient
          </button>
        </div>
        <div formArrayName="ingredients" *ngFor="let ingredient of ingredientControls;let i =index" class="row mb-2">

          <div [formGroupName]="i">

            <div class="form-group mt-3">
              <label class="form-label">Ingredients</label>

              <select class="form-select" formControlName="ingredientId">

                <option value="" disabled>Select ingredient</option>

                <option *ngFor="let ing of ingredients" [value]="ing.id">
                  {{ ing.name }} - ({{ ing.unit }}) - ({{ing.unitCost}})
                </option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label class="form-label">Quantity</label>
              <input type="number" class="form-control" placeholder="Quantity" formControlName="quantity" />
            </div>

            <div class="form-group mt-3">
              <button type="button" class="btn btn-danger" (click)="removeIngredient(i)"> Remove </button>
              <button type="button" class="btn btn-success" (click)="addIngredient()" style="margin-left: 10px;"> Save
              </button>
            </div>

            <hr>

          </div>
        </div>

      </div>

      <!-- Submit Button -->
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary px-5">Submit</button>
      </div>
    </div>
  </form>
</div>
