<!-- <div class="box mt-5">

  <div class="my-2 w-25">
    <app-select (event)="filter($event)" [categories]="categories" [title]="'Categories'"></app-select>
  </div>
  <div class="row" *ngIf="!isLoading" >
    @for (item of products; track $index) {
    <div class="col-md-3 col-sm-12 mt-3" >
      <app-product [product]="item" (event)="addToCart($event)"></app-product>
    </div>

    }
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>

</div> -->


<div class="container">

  <!-- Filter Section -->
  <div class="my-2 mb-4">
    <app-select (event)="filter($event)" [categories]="categories" [title]="'Categories'"></app-select>
  </div>

  <!-- Products Grid -->
  <div class="row">
    <!-- Loop through products -->
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of products;">
      <app-product [product]="item" (event)="addToCart($event)"></app-product>
    </div>
  </div>

  <!-- Loading Spinner -->
  <app-spinner *ngIf="isLoading"></app-spinner>

</div>
