<!-- <div class="bg-light p-3" style="height: 100vh;">
  <h4>Admin Panel</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/create-product">Create Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/create-ingredient">Create Ingredient</a>
    </li>

  </ul>
</div> -->
<div class="sidebar">
  <a routerLink="/dashboard/create-product">New Product</a>
  <a routerLink="/dashboard/create-ingredient">New Ingredient</a>
</div>
