<!-- <div class="card shadow-sm mb-4 item" style="width: 18rem; padding: 10px;">
  <a routerLink="/details/{{product.id}}">
    <img src="{{product.image}}" alt="Product image" class="card-img-top img-fluid fixed-image">
  </a>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title text-truncate" style="color: #b36e6e;">{{product.title}}</h5>
    <p class="description">{{ product.description | slice:0:100 }}...</p>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <button class="btn btn-sm" style="background-color: hsl(28, 100%, 58%); color: white; font-weight: bold;"
      *ngIf="!addButton" (click)="addButton = true">Add To Cart</button>
    <div class="d-flex" *ngIf="addButton" style="width: 100px;">
      <input type="number" class="form-control form-control-sm" min="1" [(ngModel)]="quantity">
      <button class="btn btn-sm btn-danger ms-2" (click)="add(); addButton=false;">Add</button>
    </div>
    <span class="fw-bold">{{product.price | currency}}</span>
  </div>
</div> -->

<div class="card mt-3">
  <a routerLink="/details/{{product.id}}">
    <img src="{{product.imagePath}}"  class="card-img-top" style="height: 310px;" alt="Product Image">
  </a>
  <div class="card-body">

    <div class="card-title">{{product.name}} asdfas</div>
    <div class="card-text">{{ product.description | slice:0:100 }}... </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <button class="btn btn-sm" style="background-color: hsl(28, 100%, 58%); color: white; font-weight: bold;"
      *ngIf="!addButton" (click)="addButton = true">Add To Cart</button>
    <div class="d-flex" *ngIf="addButton" style="width: 100px;">
      <input type="number" class="form-control form-control-sm" min="1" [(ngModel)]="quantity">
      <button class="btn btn-sm btn-danger ms-2" (click)="add(); addButton=false;">Add</button>
    </div>
    <span class="fw-bold">{{product.price | currency}}</span>
  </div>
</div>
